<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    <div id="layout" class="pure-g">
      {{> sidebar }}
      <div class="content pure-u-1 pure-u-md-3-5">
        <div>
          <div class="posts">
            {{{entry.html}}}
            {{> tags }}
          </div>
          {{> footer }}
        </div>
      </div>
    </div>
  </body>
</html>