<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    <div id="layout" class="pure-g">
      {{> sidebar }}
      <div class="content pure-u-1 pure-u-md-3-5">
        <div>
          <div class="posts">
            <section class="post">
              <header class="post-header">
                <h2 class="post-title">
                <a href="/contact.html">Contact</a>
              </h2>
              </header>
              <div class="post-description">
                <ul>
                  <li>
                    <a href="https://www.twitter.com/emblem21ceo">Twitter</a>
                  </li>
                  <li>
                    <a href="https://8ch.net/gnosticwarfare">8chan</a>
                  </li>
                  <li>
                    <a href="mailto:patrick.ryan@emblem21.com">Email</a>
                  </li>
                </ul>
              </div>
            </section>
          </div>
          {{> footer }}
        </div>
      </div>
    </div>
  </body>
</html>