<div id="layout" class="pure-g">
  {{> sidebar }}
  <div class="content pure-u-1 pure-u-md-3-5">
    <div>
      <div class="posts">
        <h1 class="content-subhead">
          {{{title}}}
        </h1>
        {{> tags }}
        {{#each articles}}
          {{> articleBody }}
        {{/each}}
      </div>
      {{#if previous }}
        <a class="pure-button button-navigation previous" href="{{previous}}">Previous</a>
      {{/if}}
      {{#if next }}
        <a class="pure-button button-navigation next" href="{{next}}">Next</a>
      {{/if}}
      {{> footer }}
    </div>
  </div>
</div>