{{#if relatedArticles }}
  {{#if showTagHeader }}
    <h2 class="relatedArticlesHeader">Related Articles</h2>
  {{/if}}
  <div class="relatedArticles">
    {{#each relatedArticles}}
      <div class="relatedArticle">
        <div class="relatedHeader">
          <span class="relatedLink">
            <a href="/{{this.slug}}">{{this.title}}</a>
          </span>
          <span class="relatedDatetime">
            ({{this.shortDate}})
          </span>
        </div>
        <div class="relatedSummary">
          {{this.summary}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}