* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Raleway.woff2") format("woff2");
}

body {
  font-size: 1em;
  line-height: 1.75;
  letter-spacing: -.5px;
  background: #252523;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #d47a2b;
}
a:hover,
a:focus {
  text-decoration: underline;
}

h3 {
  font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.sidebar {
  background-image: url("~assets/images/art.jpg");
  background-position: 0em -20em;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: all;
  color: #fff;
}

.blackbox {
  min-width: 125px;
  padding: 15px;
  background: #000000;
  opacity: 0.95; 
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
}

.blackbox-contents h1, .blackbox-contents h2, .blackbox-contents nav {
  position: relative;
}

.brand-title,
.brand-tagline {
  margin: 0;
}

.brand-title {
  font-size: 3em;
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  zoom: 1;
}
.nav-item a {
  background: transparent;
  border: 2px solid #4f6371;
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

.post {
  background-color: #1d1d1a;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}

.post-description {
  font-family: "Raleway", sans-serif;
  line-height: 155%;
  font-size: 15px;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  color: #bdbbab;
  font-weight: normal;
}

.post-meta {
  font-family: "Raleway", sans-serif;
  font-weight: normal; 
  line-height: 155%;
  color: #d6d6d4;
  font-size: 90%;
  margin: 0;
  font-style: italic;
}

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.footer {
  padding: 1em 0;
}
.footer a {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

@media (min-width: 48em) {
  .brand-title {
    font-size: 1.5em;
    text-transform: uppercase;
  }
  .brand-tagline {
    font-size: 1em;
    font-weight: 300;
    color: rgb(176, 202, 219);
  }

  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }

  .header {
    margin: 10% 2em 0;
    text-align: right;
  }

  .sidebar {
    background-position: -10em;
    min-width: 225px;
    position: fixed;
    top: 0;
    bottom: 0;
    max-width: 200px;
  }

  .footer {
    text-align: center;
  }

  .nav-item {
    display: grid;
  }
}

@media (min-height: 0em) and (max-height: 38em) {
  .nav-item {
    display: inline;
    font-size: 11px;
  }
}

code, pre, samp {
  font-family: source code pro,Consolas,monospace;
  font-size: inherit;
  background-color: #000;
}

pre {
  background-color: #000;
  color: #fff;
  margin: 1em 0px;
}

.rounded {
  border-radius: 5px; 
}

.code {
  padding-left: 10px;
}

.code-one-line {
  padding: 1em;
  color: #fff;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
}

.lineNumbers {
  color: #888;
  padding-left: 10px;
  overflow: hidden;
  border-right: #444 1px solid;
}

blockquote {
    border-radius: 13px;
    position: relative;  /*  <--- */
    font-style: italic;
    text-align: center;
    padding: 0.1rem 0.6rem;
    width: 80%;  /* create space for the quotes */
    font-size: 18px;
    margin: 1rem auto 2rem;
    background: #323c46;
}
/* -- create the quotation marks -- */
blockquote:before,
blockquote:after{
    position: absolute;
    /* -- inside the relative position of blockquote -- */
    margin-top: 19px;
    top: 13px;
    color: #323c46;
    font-size: 130px;
    font-weight: bold;
}
blockquote:before{
    content: "“";
    margin-right: 20px;
    right: 100%;
}
blockquote:after{
    content: "”";
    margin-left: -15px;
    left: 100%;  
}

/* LIST #5 */
.toc ol { 
  font-size:20px;
}
.toc ol li {

}

.toc ol li div ol {
  padding: 0px 0 0px 0px;
  font-size: 14px;
  list-style: none;
  counter-reset: li;
}
.toc ol li div ol li {
  color: #3b6581;
  margin-left: 16px;
}

.toc ol li div ol li::before {
  content: "(" counter(li);
  counter-increment: li;
  color: #181748;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  font-weight: bold;
  font-family: monospace;
  direction: rtl;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/PlayfairDisplay.woff2") format("woff2");
}

.post-title {
  line-height: 1.5em;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  color: #caa654;
  margin-top: 0px;
  margin-bottom: 0.2em;
}

a.pure-button-primary {
  background-color: #172452
}

.lineNumberContainer {
  max-width: 4em;
}

table.tableOptions {
  max-width: 450px;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
table.tableOptions td, table.tableOptions th {
  border: 0px solid #AAAAAA;
  padding: 3px 2px;
}
table.tableOptions tbody td {
  font-size: 13px;
}
table.tableOptions tfoot td {
  font-size: 14px;
}
table.tableOptions tfoot .links {
  text-align: right;
}
table.tableOptions tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

table.tableOptions tbody tr td a.pure-button {
  min-width: 100%;
}

strong {
  color: #b7b6ab;
}

.button-navigation {
  background-color: #4f6371;
}